apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  labels:
    app: postgres
type: Opaque
stringData:
  POSTGRES_USER: inforganizer
  POSTGRES_PASSWORD: "{{ postgres_password }}"
  POSTGRES_DB: inforganizer
  DATABASE_URL: "postgresql://inforganizer:{{ postgres_password }}@postgres:5432/inforganizer"
  JWT_SECRET: "{{ jwt_secret }}"
